<p style="color: green"><%= notice %></p>

<h1>Paychecks</h1>

<div id="paychecks">
  <% @paychecks.each do |paycheck| %>
    <%= render paycheck %>
    <p>
      <%= link_to "Show this paycheck", paycheck %>
    </p>
  <% end %>
</div>

<%= link_to "New paycheck", new_paycheck_path %>
