<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=block" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to example.com, <%= @name %> </h1>
    <p>
      You have successfully signed up to example.com.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>