<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Pay rate:</strong>
    <%= user.pay_rate %>
  </p>

  <p>
    <strong>Pay freq:</strong>
    <%= user.pay_freq %>
  </p>

</div>
