<div class="app">
  <div class="pic-header"></div>
  <nav class="navbar">
    <div class="brand">
      <p>Reyaly Financial Planner</p>
    </div>
  </nav>
  <section class="main-body">
    <h1>Uh oh!</h1>
    <p>You've stumbled across an empty backend</p>
    <p>
      To view the full site,
      <a href="https://reyaly-financial-planner.link">Click Here</a>!
    </p>
  </section>
  <footer>
    <div class="footerLinks">
      <a href="https://www.ancportfolio.link" className="social-icon"
        >Portfolio</a
      >
      <a href="https://github.com/anclark686" target="_blank" rel="noreferrer">
        <img alt="github" src="assets/github.png" class="social-icon" />
      </a>
      <a
        href="https://www.linkedin.com/in/anclark686/"
        target="_blank"
        rel="noreferrer"
      >
        <img alt="linkedin" src="assets/linkedin.png" class="social-icon" />
      </a>
    </div>
    <p>&copy; Reyaly Tech 2023</p>
  </footer>
</div>
